.section {
    background-image: url('./trees.jpg');
    background-size: 100% 100%;
    padding: 104px;
    font-size: 36px;
    font-size: clamp(14px, 3vw, 36px);
    text-align: center;
}

.content {
    font-family: "Capriola", sans-serif;
    max-width: min(950px, 95%);
    margin-inline: auto;
    text-align: center;
    margin-bottom: 80px;
}

.blue {
    color: #0B0599;
}

.link {
    font-size: 20px;
    color: #0B0599;

    transition: .3s color;

    &:hover {
        color: purple;
    }
}

@media screen and (max-width: 250px) {
    .section {
        font-size: 10px;
    }

}