.section {
    background-image: url('./collection.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: clamp(44px, 10%, 181px) 0 75px;
    padding-left: 3%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: clamp(20px, 5vw, 30px);
    font-weight: 500;
    font-family: "Capriola", sans-serif;
    text-transform: uppercase;
    color: var(--blue);
}

.description {
    font-size: clamp(12px, 3vw, 18px);
    max-width: 450px;
    margin-bottom: clamp(48px, 3vw, 60px);
    color: var(--gray-500);
    font-style: italic;
    line-height: 1.5;
}

.link {
    width: fit-content;
    font-size: clamp(12px, 3vw, 18px);
    display: flex;
    align-items: center;
    position: relative;

    gap: clamp(5px, 3vw, 17px);
    text-decoration: none;
    color: var(--gray-500);

    &::after {
        content: "";
        width: 81%;
        border-bottom: 1px solid var(--blue);
        position: absolute;
        bottom: -5px;
        left: 0;
        opacity: 0;
        transition: opacity 300ms ease;
    }

    &:active::after {
        opacity: 1;
    }

    &:hover::after {
        opacity: 1;
    }
}

@media screen and (max-width: 550px) {

    .content {
        max-width: 250px;
    }
}