@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

:root {
  --container-max-width: min(1440px, 95%);
  --header-mobile-view-width: 1000px;
  --blue: #0F0FFF;
  --gray-500: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--gray-500);
}